<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b34d66382a.js" crossorigin="anonymous"></script>    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body class="css-selector">
  <div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">    <div class="modal-dialog modal-dialog-centered">     <div class="modal-content">     
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Nowa rezerwacja</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" th:object="${movie}">
      <h5 id="idMov" style="display: none;"><span th:text="${movie.ID}"></span> </h5>
      <h5 id="title" th:text="'Tytuł: '+${movie.nazwa_filmu}"></h5>
      <h5 id="nrSiedz"></h5>
      <h5 id="user">Rezerwacja dla konta: <span sec:authentication="name"></span></h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cofnij</button>
      <form method="post" th:object="${reservationRec}" >
        <input id="seanceid" th:field="*{seance}" style="display: none;"></input>
        <input id="nrSiedz2" th:field="*{seat}"   style="display: none;"></input>
        <input id="userid"   th:field="*{usr}"    style="display: none;"></input>  
        <button type="submit" class="btn btn-primary">Zarezerwuj</button>
      </form>
      
    </div>
    </div>
  </div>
  </div>
  <style>
    .css-selector {
      background: linear-gradient(219deg, #4954f7, #96a73b, #b1b9b7);
      background-size: 1000% 1000%;
  
      -webkit-animation: AnimationName 0s ease infinite;
      -moz-animation: AnimationName 0s ease infinite;
      -o-animation: AnimationName 0s ease infinite;
      animation: AnimationName 10s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 42%}
      50%{background-position:100% 59%}
      100%{background-position:0% 42%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 42%}
      50%{background-position:100% 59%}
      100%{background-position:0% 42%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 42%}
      50%{background-position:100% 59%}
      100%{background-position:0% 42%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 42%}
      50%{background-position:100% 59%}
      100%{background-position:0% 42%}
  }
  </style>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">    <div class="modal-dialog modal-dialog-centered">     <div class="modal-content">     
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kino Selene - Logowanie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <form  method="POST" th:object="${loginRec}" th:action="@{/zaloguj}">
          <h1>Zaloguj się:</h1>
          <small class="form-text">Login:  <input class="form-control" th:field="*{username}"></small>
          <small class="form-text">Hasło:  <input class="form-control" th:field="*{password}"></small>
          <a href="/login/forgot">Zapomniałem hasła</a><br>
          <a href="/register">Nie mam konta</a>
          <br><br><br>
          <input type="submit"><br><br><br>
          
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cofnij</button>
        
        
        
      </div></div></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark mx-5 fixed-top">
      <div style="width: 5%;"></div>
      <img src="/graphics/Bez nazwy.png" style="width: 6%; height:6%;"><h1 style="color: aliceblue;">Kino Selene</h1>
      <div class="mx-auto"></div>
        <a class="nav-link " href="../" id="MenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-home" aria-hidden="true"></i> Strona Główna
        </a>
        <a class="nav-link" href="/repertuar" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="true">
          <i class="fa fa-calendar" aria-hidden="true"></i> Repertuar
        </a>
        <div sec:authorize="isAuthenticated()">
          </i><a href="/panel" class="nav-link"> <i class="fa fa-user-circle" aria-hidden="true"></i> Panel</a>
        </div>
        <div sec:authorize="hasAnyAuthority('Employee', 'Administrator', 'Boss', 'Manager')"> 
          </i><a class="nav-link"  aria-disabled="false" href="/workerpanel"> <i class="fa fa-user" aria-hidden="true"></i> Panel pracownika</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
          <button  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Zaloguj</button>
        </div>
        <div sec:authorize="isAuthenticated()">
          <a href="/logout" class="nav-link"> <i class="fa fa-ban" aria-hidden="true"></i> Wyloguj</a>
        </div>
        <div style="width: 5%;"></div>
    </nav>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light mx-5">
      <div style="width: 5%;"></div>
      <img src="/graphics/Bez nazwy.png" style="width: 6%; height:6%;"><h1 style="color: aliceblue;">Kino Selene</h1>
      
    </nav>
    <div style="margin-left: 25%;margin-top: 5%;width: 50%; background-color: black; color: whitesmoke; text-align: center;">Ekran</div>
      <div th:object="${siedzenie}" style="margin: 10%;" >
          <h1>Wybierz fotel</h1>
          <div th:each=" seat : ${siedzenie}" style="width: 40px; text-align: center; float: left; margin: 10px;" >
              <div th:switch="${seat.getValue()}">
                  <div th:case="false" >
                    <button th:text="${seat.getKey()}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reservationModal" th:attr="onclick=|changeValues('${seat.getKey}')|"></button>
                  </div>
                  <div th:case="true" >
                      <button disabled class="btn btn-secondary" th:text="${seat.getKey()}" ></button>
                  </div>
              </div>
          </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script>
        function changeValues(text){

          document.getElementById("nrSiedz").innerHTML= "Numer fotela: "+ text
          document.getElementById("nrSiedz2").value = text
          document.getElementById("seanceid").value = document.getElementById("idMov").getElementsByTagName("span")[0].innerHTML
          document.getElementById("userid").value = document.getElementById("user").getElementsByTagName("span")[0].innerHTML
          
          
        }      
      </script>
      
</body>
</html>